.header{
    color:darkslategray;
    text-align: center;
}
.header-caption{
    text-align: center;
}
table{
    border-collapse: collapse;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    margin: 5px 5px 5px 5px;
    width:100px;
    height:50px;
    background-color: lightgray;
    font-weight: bold;
}

.container{
    display:block;
    width:100%;
    border:0px solid red;
}

/* page */
#butsec{
    border:0px solid blue;
    display: table;
    margin:0 auto;
}

#butpage{
    width:fit-content;
    display:table;
    margin:0 auto;
    border:4px solid grey;
    border-radius: 10px;
}

#boardcontainer{
    width:fit-content;
    margin:0 auto;
}
#butboard{
    border:1px solid black;
    margin-left:30px;
    background-size: 100% 100%;
    max-width:550px;
    min-width:550px;
    max-height:650px;
    min-height: 650px;
    display:inline-block;
    margin:0 auto;
}

#boardmaint{
    border:0px solid black;
    width:fit-content;
    margin:0 auto;
}


/*page*/
/* Join page */

#joinpage{
    width:40%;
    display:table;
    margin:0 auto;
    border:4px solid grey;
    border-radius: 10px;
}

#namesec{
    border:0px solid blue;
    width: fit-content;
    margin:0 auto;
}

#joinsec{
    border:0px solid blue;
    display: table;
    margin:0 auto;
}

#playername{
    margin-top:30px;
}

#joingame{
    margin-top:30px;
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    background-color: blue;
    border-radius: 5px;
    width:150px;    
    height:35px;
}

/* end Join page */


#boardtable{
    width: 453px;
    height: 578px;
    margin-left: 50px;
    margin-top: 40px;
}

#board{
    border:1px solid black;
    margin-left:30px;
    background-size: 100% 100%;
    max-width:550px;
    min-width:550px;
    
    max-height:650px;
    min-height: 650px;
    
    display:inline-block;
}

#mycards{
    display:inline-block;
    border:0px solid red;
    margin-left:50px;
    margin-bottom: 200px;
    max-width: 270px;
    max-height: 450px;
    min-width: 270px;

}

#logarea{
    display: inline-block;
    width: fit-content;
    border:0px solid red;
    margin-left:30px;
}
#currentplayerarea{
    display: table;
    width: fit-content;
    margin-left:30px;
    border:1px solid grey;
    margin-top:30px;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#playerboardsave{
    display: table;
    width: fit-content;
    margin-left:30px;
    border:0px solid red;
    margin-top:50px;
    margin-bottom: 50px;
}
#mycardstable{
    border:2px solid grey;
    width:100%;
    table-layout: fixed;
}
.mycardrow{
    height:170px;
    border:1px solid grey;
}
.mycardcol{
    border:1px solid grey;
}

#dropCard{
    margin-left: 48px;
    margin-top: 15px;
    width: 175px;
    height: 50px;
    border-radius: 6px;
    font-size:16px;
    font-weight: bold;
    background-color:lightgray;
}
#saveBoard{
    margin-left: 90px;
    margin-top: 40px;
    width: 175px;
    height: 50px;
    border-radius: 6px;
    font-size:16px;
    font-weight: bold;
    background-color:lightgray;
}
#refresh{
    margin-left: 10px;
    margin-top: 40px;
    width: 175px;
    height: 50px;
    border-radius: 6px;
    font-size:16px;
    font-weight: bold;
    background-color:lightgray;
}

#card1, #card2, #card3, #card4{
    margin-left:3px;
    margin-top:3px;
    width:95%;
    height:175px;
}

#dropLog{
    border:1px solid black;
    width:500px;
    max-height:600px;
    overflow: scroll;
    margin-bottom:375px;
}

.bold{
    font-weight: bold;
    font-size: 16px;
    color:blue;
}
.red{
    background:url("../images/red.svg");
}
.blue{
    background:url("../images/blue.svg");
}
.green{
    background:url("../images/green.svg");
}
.pile{
    background-position-x: -100px;
}
