.header{
    color:darkslategray;
    text-align: center;
}
.header-caption{
    text-align: center;
}
table{
    border-collapse: collapse;
}



.container{
    display:block;
    width:100%;
}


/* Join page */

#joinpage{
    width:40%;
    display:table;
    margin:0 auto;
    border:4px solid grey;
    border-radius: 10px;
}

#namesec{
    border:0px solid blue;
    width:70%;
    margin:0 auto;
}

#joinsec{
    border:0px solid blue;
    display: table;
    margin:0 auto;
}

#playername{
    margin-top:30px;
}

#joingame{
    margin-top:30px;
    margin-bottom:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:white;
    background-color: blue;
    border-radius: 5px;
    width:150px;    
    height:35px;
}

/* end Join page */


#boardtable{
    width: 453px;
    height: 578px;
    margin-left: 50px;
    margin-top: 40px;
}

#board{
    border:1px solid black;
    margin-left:30px;
    background-size: 100% 100%;
    max-width:550px;
    min-width:550px;
    
    max-height:650px;
    min-height: 650px;
    
    display:inline-block;
}

#mycards{
    display:inline-block;
    border:0px solid red;
    margin-left:50px;
    margin-bottom: 200px;
    max-width: 250px;
    max-height: 450px;
    min-width: 250px;

}
#mycardstable{
    border:2px solid grey;
    width:100%;
    table-layout: fixed;
}
.mycardrow{
    height:175px;
    border:1px solid grey;
}
.mycardcol{
    border:1px solid grey;
}

#dropCard{
    margin-left: 70px;
    margin-top: 15px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
}

#card1, #card2, #card3, #card4{
    width:100%;
    height:175px;
}

#dropLog{
    border:1px solid black;
    width:300px;
    max-height:600px;
    overflow: scroll;
    margin-left:30px;
    margin-bottom:375px;
}

.red{
    background:url("../images/red.svg");
}
.blue{
    background:url("../images/blue.svg");
}
.green{
    background:url("../images/green.svg");
}
.pile{
    background-position-x: -100px;
}
